.container, .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.btn {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}